{% extends 'base.html.twig' %}

{% block title %}New Ambiance{% endblock %}

{% block body %}
    <div class="container-content">
        <h1>Créer une Ambiance</h1>

        <div class="content-views">
            <div class="content-ambiance" id="content-ambiance">
                <label for="file"><img id="img" src="https://cdn.discordapp.com/attachments/428941522717900810/981573140641619988/dummy_600x400_ffffff_e5e5e5_-.png"></label>
                <h1 id="input-label">Exemple</h1>
            </div>
        </div>

        {{ include('admin/ambiance/_form.html.twig') }}

        <small><a href="{{ path('app_admin') }}">Retour sur la page adminitration</a></small>
    </div>
{% endblock %}
