{% extends 'base.html.twig' %}

{% block title %}Accueil - KNT Sync{% endblock %}

{% block search %}{% endblock %}

{% block carousel %}{% endblock %}

{% block body %}
    <div class="container-content{% if block('player') is defined %}{% if app.user %} container-content-player {% endif %}{% endif %}">
        {% include 'home/_check_cat_amb.html.twig' %}

        <div class="container-resource-home">
            <div class="resource-home-title">
                <h1>Ressource</h1>
            </div>
            <div class="container-content-resource js-filter-content">
                {% include 'home/_resource.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block player %}{% endblock %}