{% extends 'base.html.twig' %}

{% block title %}KNT Sync - Accueil{% endblock %}

{% block carrousel %}{% endblock %}

{% block body %}
    <div id="slider">
        <div id="line">

        </div>
        <ul id="move">
            <li>
                <img src="https://cdn.pixabay.com/photo/2014/05/21/15/47/piano-349928_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2016/10/12/23/22/electric-guitar-1736291_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2017/03/09/20/53/microphone-2130806_960_720.jpg">
            </li>
            <li>
                <img src="https://cdn.pixabay.com/photo/2017/03/19/18/39/turntable-2157300_960_720.jpg">
            </li>
        </ul>
        <div id="back">
            <
        </div>
        <div id="forword">
            >
        </div>
        <div id="dots">
            
        </div>
    </div>
    <div class="container-content">
        <h1>Accueil</h1>
    </div>
{% endblock %}
