html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 10px;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

$primary-color: #fff;
$secondary-color: #2ecf81;
$hover-color: #28b571;
$border-color: #c7c7c7;

/* container global */

.container {
	display: flex;
	flex-direction: column;
	min-height: calc(100% - 80px);
}

/* topbar - top nav */

.container-topbar {
	display: flex;
	align-items: center;
	height: 56px;
	left: 220px;
	padding: 0 24px;
	position: fixed;
	right: 0;
	top: 0;
	background-color: $primary-color;
	border-bottom: 1px solid $border-color;
	z-index: 3;
}

.user-nav {
	display: flex;
	align-items: center;
	padding: 8px 13px;
	color: $primary-color;
	border-radius: 50px;
	background-color: $secondary-color;
	border: 2px solid $secondary-color;
	margin-left: 16px;
}

.user-nav-account {
	padding: 8px 9px;
}

.user-nav:hover {
	background-color: $hover-color;
	border: 2px solid $hover-color;
}

.user-nav-login {
	color: $secondary-color;
	background-color: $primary-color;
}

.user-nav-login:hover {
	color: $hover-color;
	background-color: $primary-color;
	border: 2px solid $hover-color;
}

.search-nav {
	display: flex;
	align-items: center;
	height: 100%;
	width: 60%;
	margin-right: auto;
}

.search-nav form {
	width: 100%;
	display: flex;
	align-items: center;
}


.search-nav form div {
	margin-left: 16px;
	height: 35px;
	width: 100%;
}

.search-nav input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	height: inherit;
	width: 100%;
	border: none;
}

.search-nav input:focus {
	outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px $primary-color inset !important;
    -moz-box-shadow: 0 0 0 100px $primary-color inset !important;
    box-shadow: 0 0 0 100px $primary-color inset !important;
}

/* sidebar - left nav */

.container-sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 220px;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: $primary-color;
	border-right: 1px solid $border-color;
	z-index: 3;
}

.container-sidebar-player {
	height: calc(100% - 80px);
}

.sidebar-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	margin: 24px;
}

.kntTypo {
	font-family: 'Koulen', cursive;
	font-size: 3.4rem;
}

.syncTypo {
	font-family: 'Pacifico', cursive;
	font-size: 2.7rem;
}

.sidebar-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-menu div {
	width: 80%;
}

.menu-item {
	font-weight: bold;
	margin: 1rem;
}

.menu-item a:hover {
	color: $hover-color;
}

.sidebar-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 24px;
}

.media-footer {
	display: none;
}

.sidebar-info
.media-footer-info {
	font-size: 1.2rem;
	margin: 3px;
}

.copyright {
	color: #00000080;
}

/* main - container/content */

.container-main {
	margin-left: 220px;
	margin-top: 56px;
	position: relative;
}


.container-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

.container-content-player {
	margin-bottom: 80px;
}

/* player */

.player {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 79px;
	background-color: $primary-color;
	border-top: 1px solid $border-color;
	z-index: 3;
}

.container-topbar-mobile {
	display: none;
}

/* main - container home */

/* carousel */

#slider {
	position: relative;
	width: 100%;
	height: 40rem;
	overflow: hidden;
}

#slider #line {
	height: 5px;
	background: $secondary-color;
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
}

#slider #dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 16px;
	display: flex;
	justify-content: center;
}

#slider #dots li {
	transition: 0.3s;
	list-style-type: none;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: $border-color;
	margin: 0 0.25em;
	cursor: pointer;
}

#slider #dots li:hover,
#slider #dots li.active {
	background: $primary-color;
}

@keyframes line {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: $primary-color;
	font-weight: 700;
	font-size: 2rem;
	background: -moz-linear-gradient(left, #f5f5f57e 0%, #ffffff00 100%);
	background: -webkit-linear-gradient(left, #f5f5f57e 0%, #ffffff00 100%);
	background: linear-gradient(to right, #f5f5f57e 0%, #ffffff00 100%);
}

#slider #forword {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left, #ffffff00 0%, #f5f5f57e 100%);
	background: -webkit-linear-gradient(left, #ffffff00 0%, #f5f5f57e 100%);
	background: linear-gradient(to right, #ffffff00 0%, #f5f5f57e 100%);
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background: gray;
	margin-right: 100%;
}

ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: $primary-color;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

ul#move li img {
	width: 100%;
}

/* main - content home */

.container-cat-amb,
.container-cat-amb .js-filter-form-check {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.container-cat-amb .container-category,
.container-cat-amb .container-ambiance {
	width: 45%;
	height: 100px;
	margin: 0;
    overflow: hidden;
}

.container-control {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: 20px;
}

.container-control .control-title {
	font-weight: bold;
}

.container-control .control {
	display: flex;
}

.container-control .control div {
	margin: 0 5px;
}

#previous-cat,
#next-cat,
#previous-amb,
#next-amb {
	cursor: pointer;
}

.container-content-category,
.container-content-ambiance,
.container-content-resource {
	display: flex;
	padding: 0;
}

.container-cat-amb .content-category,
.container-cat-amb .content-ambiance {
	position: relative;
	width: 150px;
	height: 50px;
	margin: 15px 20px;
	text-align: center;
    box-shadow: 0px 9px 10px -8px rgb(0 0 0 / 75%);
}

.container-cat-amb .content-category:hover,
.container-cat-amb .content-ambiance:hover {
    box-shadow: 0px 9px 15px -9px rgb(0 0 0 / 75%);
}

.container-cat-amb label {
	cursor: pointer;
}

.container-cat-amb input[type="checkbox"] {
	display: none;
}

.container-cat-amb input:checked + .content-category,
.container-cat-amb input:checked + .content-ambiance {
	box-shadow: 0px 0px 15px 0px rgb(0 0 0);
}


.container-cat-amb img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.resource-home-title {
	width: 100%;
	padding-left: 20px;
}

.container-resource-home {
	width: 100%;
}

.container-content-resource {
	flex-wrap: wrap;
}

.container-content-resource .content-resource, 
.container-content-resource .content-resource a {
	width: 350px;
	height: 150px;
}

.container-content-resource .content-resource a .content-resource-info {
	justify-content: unset;
}

/* main - container singin/singup*/

.container-main form {
	width: 50%;
}

.form-control,
form button {
	margin: 10px 0;
}

form button {
	width: 100%;
	margin-top: 3rem;
	font-size: 2rem;
	padding: 5px 0;
	color: $primary-color;
	background: $secondary-color;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

form button:hover {
	background-color: $hover-color;
}

.form-control-group,
#register_password {
	display: flex;
	justify-content: space-between;
}

.form-control-item,
#register_password div {
	width: 49%;
}

.form-input {
	width: 100%;
}

.form-input input,
.form-input select,
.form-input textarea {
	outline: none;
	box-sizing: border-box;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px $border-color;
}

.form-input input[type="file"] {
	border: none;
}

.form-input textarea {
	height: 150px;
}

/* main - container account */

.content-info,
.container-cart-order {
	display: flex;
	justify-content: center;
	width: 100%;
}

.content-info {
	flex-direction: column;
	align-items: center;
}

.content-info-admin {
	margin-top: 5rem;
}

.container-info-item {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.info-item {
	display: flex;
	margin: 5px;
}

.info-label {
	width: 10%;
}

.content-cart,
.content-order {
	display: flex;
	justify-content: center;
	width: 50%;
}

/* main - container admin */

.container-category,
.container-ambiance,
.container-resource,
.container-user {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
}

.content-category,
.content-ambiance,
.container-category .content-add,
.container-ambiance .content-add {
	position: relative;
	width: 200px;
	height: 75px;
	text-align: center;
	overflow: hidden;
}

.content-resource,
.content-resource a {
	display: flex;
	width: 450px;
	height: 200px;
	background-color: #e5e5e5;
	overflow: hidden;
}

.container-resource .content-add {
	position: relative;
	text-align: center;
	width: 200px;
	height: 200px;
}

.content-category,
.container-category .content-add,
.content-ambiance,
.container-ambiance .content-add,
.content-resource,
.container-resource .content-add {
	margin: 15px 25px;
	border-radius: 5px;
	box-shadow: 0px 25px 20px -25px rgba(0, 0, 0, 0.75);
}

.content-category:hover,
.container-category .content-add:hover,
.content-ambiance:hover,
.container-ambiance .content-add:hover,
.content-resource:hover,
.container-resource .content-add:hover {
	box-shadow: 0px 20px 30px -20px rgba(0, 0, 0, 0.75);
}

.content-add {
	background-color: #e5e5e5;
}

.content-category img,
.content-ambiance img {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-resource img {
	height: 100%;
	aspect-ratio: 1 / 1;
}

.content-category h1,
.content-ambiance h1,
.content-add h1 {
	position: absolute;
	width: 100%;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content-category h1,
.content-ambiance h1 {
	color: $primary-color;
	font-size: 2rem;
}

.content-add h1 {
	color: gray;
}

.content-resource-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0 15px;
}

.content-resource-info h1 {
	font-size: 1.5rem;
}
.content-resource-info h2 {
	font-size: 1.25rem;
}
.content-resource-info p {
	font-size: 1rem;
}

.table {
	width: 100%;
    max-width: 100%;
    margin-bottom: 3rem;
    background-color: transparent;
	border-collapse: collapse;
	display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
	border: 1px solid $border-color;
}

.table thead th {
    border-bottom: 2px solid $border-color;
}

.table td, .table th {
	text-align: center;
    padding: 0.75rem;
    border: 1px solid $border-color;
}

.form-switch {
    position: relative;
    cursor: pointer;
}

.form-switch input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    min-height: auto;
}

.form-switch label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0!important;
}

.switch {
    flex: none;
    width: 40px;
    height: 20px;
    display: inline-block;
    border: 1px solid $border-color;
    box-shadow: 0 1px 4px rgb(213 222 233 / 20%);
    border-radius: 100px;
    margin-right: calc(1 * 8px);
    transition: background .3s;
}

.switch::before {
    content: "";
    display: block;
    height: 18px;
    width: 18px;
    background: $primary-color;
    border: 1px solid $border-color;
    box-shadow: 0 1px 4px rgb(213 222 233 / 20%);
    border-radius: 100px;
    transition: transform .3s;
}

.is-active {
	background: $secondary-color;
}

.is-active::before {
    transform: translateX(20px);
}

.container-user input:checked + label .is-active::before {
    transform: translateX(0px);
}

.container-user input:checked + label .is-active {
	background: red;
}

.is-not-active {
	background: red;
}

.container-user input:checked + label .is-not-active::before {
    transform: translateX(20px);
}

.container-user input:checked + label .is-not-active {
	background: $secondary-color;
}

/* main - container about / partner */

.aboutContent,
.partnerContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.aboutContent .content-paragraph p {
	margin: 25px 0;
}

/* media query */

@media (max-width: 769px) {
	/* container - topbar nav*/

	.container-topbar,
	.container-sidebar,
	.container-topbar-mobile-nav,
	.sidebar-menu,
	.sidebar-footer {
		display: none;
	}

	.container-topbar-mobile {
		display: flex;
		position: fixed;
		justify-content: space-between;
		height: 56px;
		width: 100%;	
		background-color: $primary-color;
		border-bottom: 1px solid $border-color;
		top: 0;
		right: 0;
		z-index: 3;
	} 

	.sidebar-logo {
		margin: 0 24px;
	}

	.container-topbar-mobile .container-topbar-mobile-menu {
		width: 22px;
		height: 16px;
		cursor: pointer;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		margin: 20px;
	}

	.container-topbar-mobile .container-topbar-mobile-menu span {
		width: 100%;
		height: 2px;
		border-radius: 99px;
		background: #000;
		transition: 0.3s ease;
		transform-origin: left;
	}

	.container-topbar-mobile .container-topbar-mobile-menu.active span {
		background: #000;
	}

	.container-topbar-mobile .container-topbar-mobile-menu.active span:nth-child(1) {
		transform: rotate(40deg);
	}

	.container-topbar-mobile .container-topbar-mobile-menu span:nth-child(3) {
		transform-origin: left;
	}

	.container-topbar-mobile .container-topbar-mobile-menu.active span:nth-child(3) {
		transform: rotate(-40deg);
	}

	.container-topbar-mobile .container-topbar-mobile-menu.active span:nth-child(2) {
		transform: scale(0);
	}

	.container-topbar-mobile-nav.active {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
		position: fixed;
		top: 56px;
		width: 100%;
		background: $primary-color;
		height: 0px;
		border-top: 1px solid $border-color;
		height: calc(100% - 106px);
		transition: height 2s cubic-bezier(.68,-0.55,.27,1.55);
	}

	.container-topbar-mobile-nav .search-nav {
		border: 1px solid $border-color;
		height: 50px;
		padding: 0 20px;
		margin: 0 auto;
	}

	.container-topbar-mobile-nav .search-nav,
	.container-topbar-mobile-nav .sidebar-menu,
		.container-topbar-mobile-nav .sidebar-menu-account {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		background: $primary-color;
		width: 100%;
	}

	.container-topbar-mobile-nav .search-nav {
		width: 80%;
	}

	.container-topbar-mobile-nav div div a,
	.container-topbar-mobile-nav div div a h3 {
		width: 100%;
	}

	.separator {
		width: 80%;
		height: 1px;
		background-color: $border-color;
	}

	/* main - container/content */

	.container-main {
		margin-left: 0;
		margin-top: 56px;
		margin-bottom: 50px;
		position: relative;
	}


	.container-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
	}

	.container-content-player {
		margin-bottom: 80px;
	}

	/* main - content home */
	.container-cat-amb .container-category,
	.container-cat-amb .container-ambiance {
		width: 100%;
	}

	.container-content-resource .content-resource, 
	.container-content-resource .content-resource a {
		width: 100%;
		height:200px;
	}

	/* player */

	.player {
		display: none;
	}

	/* media footer */

	.media-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position : fixed;
		border-top: 1px solid $border-color;
		background: $primary-color;
		left: 0;
		bottom: 0;
		height:49px;
		width: 100%;
		z-index: 3;
	}
}

@media (max-width: 426px) {
	.container-topbar-mobile-nav div {
		margin: 0.25rem;
	}

	.container-topbar-mobile-nav div div a,
	.container-topbar-mobile-nav div div a h3 {
		margin: 0;
	}
}