html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10px;
} 

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

/* container global */

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 80px);
}

/* topbar - top nav */

.container-topbar {
    display: flex;
    align-items: center;
    height: 56px;
    left: 220px;
    padding: 0 24px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #fff;
    border-bottom: 1px solid #77777750;
    z-index: 1;
}

.userNav {
    display: flex;
    align-items: center;
    padding: 8px 13px;
    color: white;
    border-radius: 50px;
    background-color: #2ECF81;
    border: 2px solid #2ecf81;
    margin-left: 16px;
}

.userNav:hover {
    background-color: #28B571;
    border: 2px solid #28B571;
}

.userNavLogin {
    color: #2ECF81;
    background-color: white;
}

.userNavLogin:hover {
    color: #28B571;
    background-color: white;
    border: 2px solid #28B571;
}

.searchNav {
    width: 60%;
    margin-right: auto;
}

/* sidebar - left nav */

.container-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 220px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid #77777750;
    z-index: 1;
}

.container-sidebar-player {
    height: calc(100% - 80px);
}

.sidebar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 24px;
}

.kntTypo {
    font-family: 'Koulen', cursive;
    font-size: 3.4rem;
}

.syncTypo {
    font-family: 'Pacifico', cursive;
    font-size: 2.7rem;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    font-weight: bold;
    margin: 15px;
}

.menu-item a:hover {
    color: #28B571;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.sidebar-info {
    font-size: 1.2rem;
    margin: 3px;
}

.copyright {
    color: #00000080;
}

/* main - container/content */

.container-main {
    margin-left: 220px;
    margin-top: 56px;
    position: relative;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* player */

.player {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 79px;
    background-color: #fff;
    border-top: 1px solid #77777750;
    z-index: 1;
}

/* main - container home */



/* carousel */

#slider {
	position: relative;
	width: 100%;
    height: 40rem;
	overflow: hidden;
}

#slider #line {
	height: 5px;
	background: #2ecf81;
	z-index: 1;
	position: absolute;
	bottom: 0;
	right: 0;
}

#slider #dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 16px;
	display: flex;
	justify-content: center;
}

#slider #dots li {
	transition: 0.3s;
	list-style-type: none;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background: #f5f5f57e;
	margin: 0 0.25em;
	cursor: pointer;
}

#slider #dots li:hover,
#slider #dots li.active {
	background: whitesmoke;
}

@keyframes line {

	0% {width: 0%;}
	100% {width: 100%;}

}

#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: whitesmoke;
	font-weight: 700;
    font-size: 2rem;
	background: -moz-linear-gradient(left,  #f5f5f57e 0%, #ffffff00 100%);
	background: -webkit-linear-gradient(left,  #f5f5f57e 0%,#ffffff00 100%);
	background: linear-gradient(to right,  #f5f5f57e 0%,#ffffff00 100%);
}

#slider #forword {
	left: auto;
	right: 0;
	background: -moz-linear-gradient(left,  #ffffff00 0%, #f5f5f57e 100%);
	background: -webkit-linear-gradient(left,  #ffffff00 0%,#f5f5f57e 100%);
	background: linear-gradient(to right,  #ffffff00 0%,#f5f5f57e 100%);
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background: gray;
	margin-right: 100%;
}


ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

ul#move li img {
	width: 100%;
}

/* main - container singin/singup*/

.container-main form {
    width: 50%;
}

.form-control,
form button {
    margin: 10px 0;
}

form button {
    width: 100%;
    margin-top: 3rem;
    font-size: 2rem;
    padding: 5px 0;
    color: white;
	background: #2ecf81;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

form button:hover {
    background-color: #28B571;
}

.form-control-group,
#register_password {
    display: flex;
    justify-content: space-between;
}

.form-control-item,
#register_password div {
    width: 49%;
}

.form-input {
    width: 100%;
}

.form-input input,
.form-input select {
    outline: none;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}

/* main - container about */

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}